.flex-cvc {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
}

.box-cvc {
    background: #000;
    border-radius: 25px;
    padding: 20px;
    border: 5px solid rgb(255, 255, 255);
    &:hover {
        background: #2c2c2c;
        border: 5px solid rgb(27, 90, 0);
    }
}

.box-cvc-js {
    background: #3e3e3e;
    border: 5px solid rgb(51, 169, 0);
    &:hover {
        background: #545454;
        border: 5px solid rgb(67, 222, 0);
    }
}

.btn-cvc {
    width: 207px;
    height: 35px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 26px;
    background-color: #000;
    align-items: center;

    &:hover {
        background: #2c2c2c;
    }
}

.column  {
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex-score-cvc {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 25%;
    padding-right: 25%;
}