
.title-fball {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 36px 0;
}

.wrap-cort {
    width: 720px;
    height: 220px; 
    border-radius: 37px;
    border: 2px solid #000;
    background: #5ABB58;
    margin: 0 auto;
}

.ball {
    position: relative;
    transition: 0.3s ease-in-out
}












