

.title-3numbers {
    display: flex;
    justify-content: center;
    
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 36px;
}

.list-3numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    margin-top: 36px;

}

.item-3numbers {
    outline: none;
    text-align: center;
    border: none;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 20px;
    border-color: #D7D7D7;
    background: #D7D7D7;
    width: 182px;
    height: 35px;
}

.btn-3numbers {
    display: block;
    height: 35px;
    color: #fff;
    background-color: #000;
    border-radius: 26px;
    margin: 0 auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 36px auto;
}

.p-3numbers {
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

















