
.scien-h1 {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 26px;
}
.scientists-div{
    margin-top: 55px;
  }
.wrap-scien {
    display: flex;
    justify-content: center;
    margin: 39px 0;
}

.ul-scien {
    gap: 36px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    width: 580px;
    gap: 36px 60px;
}

.li-scien {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    padding: 33px 16px;
}

.item-name {
    color: #000;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

}

.item-year {
    color: #000;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
// ======================================================
.scien-ask {
    display: flex;
    justify-content: center;
}

.wrap-list2 {
    padding-left: 100px;
}

.list-ask {
    list-style: none;
    padding: 0;
}

.item-ask1 {
    display: flex;
    justify-content: flex-end;
}

.list-ask2 {
    margin-left: 36px;

}

.item-ask {
    margin-bottom: 20px;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.p-ask{
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 10px 20px;
}











