<section id="buba">
<div class="calculator">
    <input class="first_number" type="text" placeholder="Введіть число">
    <div class="signs">
        <button id="plus-js" class="plus">+</button>
        <button id="min-js" class="minus">-</button>
        <button id="mult-js" class="mult">x</button>
        <button id="dil-js" class="dil">/</button>
    </div>
    <input class="second_number" type="text" placeholder="Введіть число">
    <button class="equal" id="equal-js">=</button>
    <p id="answer">Результат</p>
</div>
<hr style="background-color: black; height: 1px;  width: 536px; margin: 36px auto; ">
</section>