<section id="uba1">
<div class="chuvachy">
    <div class="hr"></div>
    <h3 class="h3-year4 column">Камінь - ножиці - папір</h3> 
    <div class="flex-score-cvc">
        <div>
            <div class="flex-cvc">
                <div class="box-cvc" id="stone">
                    <img src="./img/stone 1.png">
                </div>
                <div class="box-cvc" id="scissors">
                    <img src="./img/scissors 1.png">
                </div>  
                <div class="box-cvc" id="paper">
                    <img src="./img/paper 1.png">
                </div>
            </div>
        </div>
        <div>
            <p>Рахунок</p>
            <p><span id="usa" class="username">Ви</span> - <span class="userScore">0</span></p>
            <p><span>Комп'ютер</span> - <span class="pcScore">0</span></p>
        </div>
    </div>
    <h3 class="h3-year4 column result">Результат</h3> 
    <div class="column">
        <button type="button" class="btn-cvc" id="play">Підтвердити</button>
        <button type="button" class="btn-cvc" id="restart">Почати заново</button>
    </div>
    <div class="hr"></div>
</div>

<hr style="background-color: black; height: 1px;  width: 536px; margin: 36px auto; ">
</section>