<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h3 class="text_cont">Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!</h3>
            <div class="entering">
        <p class="enter_name">Введіть своє ім'я:</p>
        <input class="user" type="text" placeholder="Ваше ім'я..." id="userName">
        <button id="saveButton">Зберегти</button>
    </div>
    <img src="./img/puzzle.png" alt="" class="img4">
    <img src="./img/tic-tac-toe.png" alt="" class="img3">
    <img src="./img/sword.png" alt="" class="img2">
    <img src="./img/game-development.png" alt="" class="img1">
    </div>
</div>