<section id="buba2">
<div  class="wrap-3numbers">

    <hr style="background-color: black; height: 1px;  width: 536px; margin: 36px auto; ">

    <h1 class="title-3numbers">Введіть 3 числа</h1>

    <div class="list-3numbers">
        <input class="item-3numbers number1" placeholder="Введіть число"></input>
        <input class="item-3numbers number2" placeholder="Введіть число"></input>
        <input class="item-3numbers number3" placeholder="Введіть число"></input>
    </div>
    
    <button class="btn-3numbers">Дізнатись найбільше число</button>

    <p class="p-3numbers">Найбільше число, яке ви ввели-<span class="span-3numbers">(число)</span></p> 
</div>


</section>