
<div id="team" class="wrap-team">
    <hr class="line" style="background-color: black; height: 1px;  width: 536px">

    <h1 class="title-team">Наша команда</h1>

    <div class="list-team">
        <div class="wrap-item">
            <img src="./img/image.png" alt="" class="img-person">
            <p class="name-student">Даня</p>
            <p class="information-student">Team lead</p>
        </div>
        <div class="wrap-item">
            <img src="./img/photo_2024-01-02_20-14-18.jpg" alt="" class="img-person">
            <p class="name-student">Сергій</p>
            <p class="information-student">Scrum master</p>
        </div>
        <div class="wrap-item">
            <img src="./img/imag12e.png" alt="" class="img-person">
            <p class="name-student">Марія</p>
            <p class="information-student">Developer</p>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>