<section id="ba">
<div class="scientists-div">
    <hr class="line" style="background-color: black; height: 1px;  width: 536px">

    <h1 class="scien-h1">Обери вченого/их</h1>

    <div class="wrap-scien">
        <ul class="ul-scien">
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
            <li class="li-scien">
                <div>
                    <p class="item-name"></p><p class="item-year"></p>
                </div>
            </li>
        </ul>
    </div>

    <div class="scien-ask">
        <div class="wrap-list1">
            <ul class="list-ask">
                <li class="item-ask1 item-ask">
                    <button class="ask-19 p-ask">Які вчені народилися в 19 ст.</button>
                </li>
                <li class="item-ask1 item-ask">
                    <button class="alphabet p-ask">Відсортувати вчених за алфавітом</button>
                </li>
                <li class="item-ask1 item-ask" style="width: 440px;">
                    <button class="liveYears p-ask">Відсортувати вчених за кількістю прожитих років</button>
                </li>
                <li class="item-ask1 item-ask">
                    <button class="later p-ask">Знайти вченого, який народився найпізніше</button>
                </li>
            </ul>
        </div>
        <div>
            <ul class="list-ask list-ask2">
                <li class="item-ask">
                    <button class="yearAlbert p-ask">Знайти рік народження Albert Einshtein</button>
                </li>
                <li class="item-ask">
                    <button class="start-c p-ask">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
                </li>
                <li class="item-ask">
                    <button class="delete-a p-ask">Видалити всіх вчених, ім’я яких починається на “А”</button>
                </li>
                <li class="item-ask" style="width: 370px;">
                    <button class="oppositeLive p-ask">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="button-wrap">
        <button class="firstLetters p-ask">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</div>
</section>