<div class="wrap-modal">
    <div class="modal-window">
        <div class="wrap-closeBtn">
        <span class="close-btn">&times;</span>
        </div>
        <div class="str1">
            <img src="./img/sword.png" alt="" class="sword">
            <p class="thank">Дякую за підписку!</p>
            <img src="./img/game-development.png" alt="" class="games">
        </div>
        <div class="str2">
            <img src="./img/puzzle.png" alt="" class="puzzle">
            <img src="./img/tic-tac-toe.png" alt="" class="tictactoe">
        </div>
    </div>
</div>

























